@{
    ViewData["Title"] = "About Us";
}

    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
        <div class="row mb-2">
            <div class="col-md-5">
                <img src="~/img/aboutus.jpg" style="height:400px; width:340px" />
            </div>
            <div class="col-md-7 px-0">
                <h2>About Us</h2>
                <h1 class="display-4 font-italic p-5 my-3">Pelt Of Cheap Stuff</h1>
                <p class="lead my-3">
                    Never use the word “cheap”. Today everybody can look chic in inexpensive things 
                    (the rich buy them too). There is good design on every level today. 
                    You can be the chicest thing in the world in a T-shirt and jeans — it’s up to you.
                    <br />― Karl Lagerfeld
                </p>
            </div>
            </div>
        </div>

    
